alabaster==1.0.0
altair==5.5.0
annotated-types==0.7.0
attrs==25.2.0
babel==2.17.0
beautifulsoup4==4.13.3
blinker==1.9.0
bs4==0.0.2
build==1.2.2.post1
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
contourpy==1.3.1
cycler==0.12.1
distlib==0.3.9
docutils==0.21.2
filelock==3.18.0
fonttools==4.56.0
gitdb==4.0.12
GitPython==3.1.44
idna==3.10
ijson==3.3.0
imagesize==1.4.1
JCC @ file:///usr/src/pylucene/jcc/dist/jcc-3.15-cp313-cp313-linux_aarch64.whl#sha256=270a9a16a462d367c69b6a57dba97e3f554393018883fd1fe8d75832aba2bee1
jellyfish==1.1.3
Jinja2==3.1.6
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
lucene @ file:///usr/src/pylucene/dist/lucene-10.0.0-cp313-cp313-linux_aarch64.whl#sha256=be33971211669c1895f7d6c19ddc93121eb942efb1d18408f6ce5b8eeb1f63ac
MarkupSafe==3.0.2
matplotlib==3.10.1
narwhals==1.30.0
networkx==3.4.2
nltk==3.9.1
numpy==2.2.3
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pipenv==2024.4.1
platformdirs==4.3.6
protobuf==5.29.3
psycopg2==2.9.10
pyarrow==19.0.1
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.9.1
Pygments==2.19.1
pyparsing==3.2.1
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
pytz==2025.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
roman-numerals-py==3.1.0
rpds-py==0.23.1
scikit-learn==1.6.1
scipy==1.15.2
segtok==1.5.11
setuptools==75.8.2
six==1.17.0
smmap==5.0.2
snowballstemmer==2.2.0
soupsieve==2.6
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
streamlit==1.43.2
tabulate==0.9.0
tenacity==9.0.0
threadpoolctl==3.6.0
toml==0.10.2
tornado==6.4.2
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
virtualenv==20.29.3
watchdog==6.0.0
Whoosh==2.7.4
yake==0.4.8
